
{% extends 'PropelRapp/base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}

{% block content %}
<style>
        * {
            padding: 0;
            margin: 0;
        }
        .fit { /* set relative picture size */
            width: 500px;
            max-height: 100%;
        }
        .center {

            margin: auto;
        }
</style>

    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Profile</h4> </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <!-- ============================================================== -->
        <!-- Different data widgets -->
        <!-- ============================================================== -->
        <!-- .row -->
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="white-box">
                    <div class="user-bg">


                                    {% if app_user.profile_pic %}
                                        <img class="center fit" src="{{app_user.profile_pic.url}}"   alt="No Image">
                                    {% endif %}

                    </div>
                    <div class="user-btm-box">
                        <h3 class="text-center" style="font-size: 25px;padding-top: 30px;">Welcome {{request.user.username}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-xs-12">
                <div class="white-box">
                    <form class="form-horizontal form-material" method="post">
                        {% csrf_token %}


                        <div class="form-group">
                        {{ form.as_p }}
                        </div>
                        <!--<div class="form-group">
                         <div class="form-group">
                            <label for="example-email" class="col-md-12">Enter Old Password</label>
                            <div class="col-md-12">
                                <input type="password" class="form-control form-control-line" id="pwd" name="pwd"
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" required></div>
                        </div>
                        <div class="form-group">
                            <label for="example-email" class="col-md-12">Enter New Password</label>
                            <div class="col-md-12">
                                <input type="password" class="form-control form-control-line" id="pwd" name="pwd"
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" required></div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Confirm Password</label>
                            <div class="col-md-12">
                                <input type="password" class="form-control form-control-line"id="pwd" name="pwd"
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"></div>
                        </div>
                         <div class="form-group">
                            <div class="col-sm-12 col-md-6">
                                <button class="btn" style="background-color: #4e6bca; color: white;">Change Password</button>
                            </div>
                        </div>-->
                        <div class="col-sm-6 col-md-6">
                                    <input class="btn btn-primary" type="submit" style="background-color: #4e6bca; color: white;" value="Save Changes" />
                        </div>


                    </form>
                </div>
            </div>
        </div>
        <!--/.row -->
        <!--row -->
        <!-- /.row -->
    </div>

{% endblock %}
