{% extends 'PropelRapp/base.html' %}

{% block title %}Customer{% endblock %}

{% block content %}


<div class="container-fluid">
    <br>
            <div class="row">
            <div class="col-sm-12">
                <div class="white-box analytics-info">
                    <div class="login-page">
                        <div class="banner">
                                 <h2 class="head">Customer</h2>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                            {{ form.as_p }}
                            </div>
                            <input class="btn btn-primary" type="submit" value="Save" />
                        </form>
                    </div>
                </div>
            </div>
            </div>
</div>

{% endblock %}

<button type="submit" class="btn">Submit</button>