{% extends 'PropelRapp/base.html' %}

{% block title %}Subscription Plan{% endblock %}

{% block content %}

    <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Dashboard</h4> </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <!-- ============================================================== -->
            <!-- Different data widgets -->
            <!-- ============================================================== -->
            <!-- .row -->
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="white-box analytics-info">
                        <h3 class="box-title text-center">Free Plan</h3>
                            <h3 class="price text-center">$45 /month</h3>
                            <ul class="features">
                                <li>Some great feature</li>
                                <li>Another super feature</li>
                                <li>And more...</li>
                            </ul>
                            <button onclick="location.href='summary.html'" type="button">PURCHASE</button>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="white-box analytics-info">
                        <h3 class="box-title text-center">Basic Plan</h3>
                        <h3 class="price text-center">$60 /month</h3>
                        <ul class="features">
                            <li>Some great feature</li>
                            <li>Another super feature</li>
                            <li>And more...</li>
                        </ul>
                        <button>PURCHASE</button>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="white-box analytics-info">
                        <h3 class="box-title text-center">Standard Plan</h3>
                            <h3 class="price text-center">$90 /month</h3>
                            <ul class="features">
                                <li>Some great feature</li>
                                <li>Another super feature</li>
                                <li>And more...</li>
                            </ul>
                            <button>PURCHASE</button>
                    </div>
                </div>
            </div>

            <!--/.row -->
            <!--row -->
            <!-- /.row -->
        </div>

{% endblock %}