{% extends 'PropelRapp/base.html' %}

{% block title %}User Data {% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">User List</h4> </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <!-- ============================================================== -->
        <!-- Different data widgets -->
        <!-- ============================================================== -->
        <!-- .row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <a href="{% url 'PropelRapp:add_user' %}" class="btn pull-right waves-effect waves-light" style="background-color: rgb(50, 50, 95);color: white;" >Add User
                    </a>
                    <h3 class="box-title">Details</h3>

                        {% if messages %}
                            <ul>
                                {% for message in messages %}
                                        <div class="alert alert-success">
                                            {{ message }}
                                        </div>
                                {% endfor %}
                            </ul>
                        {% endif %}

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                {% if user.is_authenticated %}
                                <tr>
                                    <th>User Name</th>
                                    <th>Role </th>
                                    <th>Action</th>
                                </tr>
                                {% endif %}
                            </thead>
                            <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td>{{user.user.get_username}}</td>
                                        <td>{{user.role}}</td>
                                        <td>
                                            <div class="btn-toolbar ">
                                                <a href="{% url 'PropelRapp:edit_user' user.user_id %}"  class="btn"><i class="fa fa-pencil" style="font-size: 15px;color: white;"></i></a>
                                                <a href="{% url 'PropelRapp:delete_user' user.id %}" class="btn btn1"><i class="fa fa-trash" style="font-size: 15px;color: white;"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                     </div>

                    {% if users.has_other_pages %}
                  <ul class="pagination">
                    {% if users.has_previous %}
                      <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in users.paginator.page_range %}
                      {% if users.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if users.has_next %}
                      <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                  </ul>
                {% endif %}

                    </div>
                </div>
            </div>
        </div>
        <!--/.row -->
        <!--row -->
        <!-- /.row -->
    </div>


{% endblock %}